<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
      <% if @invite.invite_url %>
        Welcome to Dash!
      <% else %>
        You’ve been invited to manage an event on Dash
      <% end %>
    </h1>
    <% if @invite.invite_url %>
      <p>
        Nice to meet you! Dash is the hackathon management system <i>of your dreams</i>. We think you’ll love it.
      </p>
    <% end %>
    <p>
      You’ve been invited to manage <b><%= @invite.event.name %></b> by <b><%= @invite.sender.name %></b>!
    </p>
    <p>
      To <% if @invite.invite_url %>login to the site & <% end %>view your invitation, <%= link_to 'click here', @invite.invite_url || event_organizer_position_invite_url(@invite.event, @invite) %>.
    </p>
    <p>
      <i>
        Have a hack-tastic day,
        Dash Team
      </i>
    </p>
  </body>
</html>
