<div class="breadcrumbs">
  <%= link_to 'Home', root_url %>
</div>

<h1>Admin Dashboard</h1>
<h3 class="no-margin">Welcome, <%= current_user.name %>. How does all the power feel?</h3>

<h3><%= link_to 'All Users', all_users_path %>
