<%= link_to 'Home', root_url %> › <%= link_to 'Admin Dashboard', '#' %>

<h1>Admin Dashboard</h1>
<h2>Welcome, <%= current_user.name %>. How does all the power feel?</h2>

<h3><%= link_to 'All Users', '/admin/all_users' %>