<div class="breadcrumbs">
 <%= link_to @event.name, @event %>
</div>

<% if @waiver.enabled? %>
  <% title "Waiver on #{@event.name}" %>
  <h1 class="heading">
    Waiver
    <%= link_to 'Configure', edit_event_waiver_path(@event, @waiver), class: 'btn' %>
  </h1>
  <p class="slate">You’ve added a waiver. You can <%= link_to 'view it here', @waiver.file.service_url, target: '_blank' %>.</p>
<% else %>
  <% title "Adding a Waiver on #{@event.name}" %>
  <h1>
    Add a Waiver
  </h1>
  <%= render 'form', url: event_waiver_path(@event, @waiver), waiver: @waiver %>
<% end %>
