<% if flash.any? %>
  <% flash.each do |type, message| %>
    <div class="flash bg-<%= type %>">
      <span class="flash__content">
        <%= message %>
      </span>
      <div class="flash__close" data-behavior="flash_close" role="button">X</div>
    </div>
  <% end %>
<% end %>