<% title "Editing attendee #{@attendee.name} on #{@event.name}" %>
<% page_sm %>
<div class="breadcrumbs">
  <%= link_to @event.name, @event %> › <%= link_to 'Attendees', event_attendees_path %> › <%= link_to "#{@attendee.first_name} #{@attendee.last_name}", event_attendee_path(@event, @attendee) %>
</div>

<h1 class="heading">
  Edit attendee
</h1>

<%= render 'form', attendee: @attendee, url: event_attendee_path(@event, @attendee) %>
