<% title "Editing attendee #{@attendee.name} on #{@event.name}" %>
<% page_sm %>

<%= render 'events/nav', event: @event, active: 'attendees' %>

<h1 class="heading">
  Edit attendee
</h1>

<%= render 'form', attendee: @attendee, url: event_attendee_path(@event, @attendee) %>
