<% title "Export attendees on #{@event.name}" %>
<% page_sm %>
<div class="breadcrumbs">
  <%= link_to @event.name, @event %> › <%= link_to 'Attendees', event_attendees_path(@event) %>
</div>

<h1 class="heading">
  Export attendees
</h1>

<p class="muted my2">
  Export attendees to CSV (comma-separated values),
  usable in Numbers, Google Sheets, Excel, and more, or JSON, often used by developers.
</p>
<% if @event.attendees.count > 0 %>
  <%= link_to "Export #{pluralize(@event.attendees.count,'attendee')}", event_attendees_path(format: :csv), class: 'btn export-attendees-btn' %>
<% else %>
  <p class="error">There are no attendees to export. <%= link_to 'Create one?', new_event_attendee_path(@event) %></p>
<% end %>