<% title "New Attendee on #{@event.name}" %>
<div class="breadcrumbs">
  <%= link_to 'Home', root_url %> › <%= link_to @event.name, @event %> › <%= link_to 'Attendees', event_attendees_path %>
</div>

<h1>
  Add an Attendee
</h1>

<%= render 'form', url: event_attendees_path, attendee: @attendee %>
