<% title "New attendee on #{@event.name}" %>
<% page_sm %>

<%= render 'events/nav', event: @event, active: 'attendees' %>

<h1>
  Add an attendee
</h1>

<%= render 'form', url: event_attendees_path, attendee: @attendee %>
