<% title "New webhook on #{@event.name}" %>
<% page_sm %>

<%= render 'events/nav', event: @event, active: 'settings' %>

<h1>
  Add a webhook
</h1>

<%= render 'form', url: event_webhooks_path(@event), webhook: @webhook %>
