<%= link_to 'Home', root_url %> › <%= link_to 'Events', '#' %>

<h1>Events</h1>
<% if current_user.admin? %>
  <h2>You’re an admin, showing all events:</h1>
<% end %>
<% if @events.empty? %>
  <h2>No events... yet</h2>
<% else %>
  <% @events.each do |event| %>
    <h1><%= link_to event.name, event %></h1>
  <% end %>
<% end %>

<br>

<h2><%= link_to 'New Event', new_event_path %></h2>
