<% title "Editing #{@hardware_item.description} on #{@event.name}" %>
<% page_sm %>

<%= render 'events/nav', event: @event, active: 'hardware' %>

<h1>
  Edit barcode
</h1>

<%= render 'form', hardware_item: @hardware_item, url: event_hardware_hardware_item_path(@event, @hardware, @hardware_item) %>
