<div>
  <a href="/">Home</a>
  <h1>H&M</h1>
  <h3>✨ A next-gen hackathon management system</h3>
  <% if user_signed_in? %>
    <h4>Welcome, <%= current_user.name %>. You’re doing great.</h4>
    <a href="/events">View events</a>
    <br />
    <a href="/users/edit">My account</a>
    <br />
    <%= link_to 'Log out', '/users/sign_out', :method => :delete %>
  <% else %>
    <h2><a href="/users/sign_in">Login</a></h2>
  <% end %>
</div>