<% title "Configuring registration on #{@event.name}" %>
<% @include_react = true %>
<% page_sm %>

<%= render 'events/nav', event: @event, active: 'registration' %>

<h1>Set up registration</h1>
<%= react_component 'Registration', props: { event: @event.as_json } %>
