<div class="breadcrumbs">
  <%= link_to 'Home', root_url %> › <%= link_to 'Events', events_url %> › <%= link_to @event.name, @event %>
</div>

<h1>
  <%= @event.name %>
  <br><span style="font-size: 2rem;">Fields</span>
</h1>
