<% title "Configuring registration on #{@event.name}" %>
<% @include_react = true %>
<% page_sm %>

<div class="breadcrumbs">
  <%= link_to @event.name, @event %> › <%= link_to 'Attendees', event_attendees_path %>
</div>

<h1>Set up registration</h1>
<%# react_component 'Registration', props: { event: @event.as_json } %> 

<%= react_component 'Fields', props: { event: @event.as_json } %>
