<% page_sm %>
<% title "New Field on #{@event.name}" %>

<div class="breadcrumbs">
  <%= link_to @event.name, @event %> › <%= link_to 'Attendees', event_attendees_path %> › <%= link_to 'Fields', event_attendee_fields_path %>
</div>

<h1>
  Add a Field
</h1>

<%= render 'form', url: event_attendee_fields_path, attendee_field: @attendee_field %>
