$base: #0069ff;
$black: #393f48;
$gray0: #f8f9fa;
$gray1: #ebedef;
$gray2: #dde0e5;
$gray3: #ced3d9;
$gray4: #bec4cc;
$gray5: #acb3be;
$gray6: #97a0ad;
$gray7: #7e8a9a;
$gray8: #616d7c;
$gray9: #393f48;
$blue0: #e5f0ff;
$blue1: #c8dfff;
$blue2: #a7ccff;
$blue3: #80b5ff;
$blue4: #4e97ff;
$blue5: #006aff;
$blue6: #005fe6;
$blue7: #0053c9;
$blue8: #0045a6;
$blue9: #003175;
$indigo0: #eceaff;
$indigo1: #d7d4ff;
$indigo2: #bfbaff;
$indigo3: #a29aff;
$indigo4: #7a6fff;
$indigo5: #1500ff;
$indigo6: #1300e6;
$indigo7: #1000ca;
$indigo8: #0d00a8;
$indigo9: #0a007a;
$violet0: #f6e9ff;
$violet1: #ecd2ff;
$violet2: #e0b6ff;
$violet3: #d294ff;
$violet4: #bf66ff;
$violet5: #9500ff;
$violet6: #8600e6;
$violet7: #7600ca;
$violet8: #6200a8;
$violet9: #460079;
$fuschia0: #ffebfd;
$fuschia1: #ffd4fb;
$fuschia2: #ffbaf9;
$fuschia3: #ff9bf6;
$fuschia4: #ff70f3;
$fuschia5: #ff00ea;
$fuschia6: #e700d4;
$fuschia7: #cb00ba;
$fuschia8: #a9009b;
$fuschia9: #7b0071;
$pink0: #ffeaf3;
$pink1: #ffd4e5;
$pink2: #ffb9d6;
$pink3: #ff99c3;
$pink4: #ff6daa;
$pink5: #ff006a;
$pink6: #e70060;
$pink7: #cb0054;
$pink8: #a90046;
$pink9: #7b0033;
$red0: #ffebe9;
$red1: #ffd5d2;
$red2: #ffbcb6;
$red3: #ff9d95;
$red4: #ff7467;
$red5: #ff1500;
$red6: #e61300;
$red7: #ca1000;
$red8: #a80d00;
$red9: #7a0a00;
$orange0: #fff2e0;
$orange1: #ffe4bf;
$orange2: #ffd59a;
$orange3: #ffc370;
$orange4: #ffaf3e;
$orange5: #ff9500;
$orange6: #e68600;
$orange7: #ca7600;
$orange8: #a86200;
$orange9: #794600;
$yellow0: #fdffe6;
$yellow1: #faffcb;
$yellow2: #f8ffac;
$yellow3: #f5ff86;
$yellow4: #f0ff53;
$yellow5: #eaff00;
$yellow6: #d4e700;
$yellow7: #bacb00;
$yellow8: #9ba900;
$yellow9: #717b00;
$lime0: #f0ffe5;
$lime1: #dfffc9;
$lime2: #ccffa8;
$lime3: #b5ff81;
$lime4: #98ff4f;
$lime5: #6aff00;
$lime6: #60e700;
$lime7: #54cb00;
$lime8: #46a900;
$lime9: #337b00;
$green0: #eaffec;
$green1: #d4ffd7;
$green2: #baffbf;
$green3: #9affa2;
$green4: #6eff7a;
$green5: #00ff15;
$green6: #00e713;
$green7: #00cb10;
$green8: #00a90d;
$green9: #007b0a;
$teal0: #e9fff6;
$teal1: #d1ffec;
$teal2: #b5ffe0;
$teal3: #93ffd2;
$teal4: #65ffbf;
$teal5: #00ff95;
$teal6: #00e787;
$teal7: #00cb76;
$teal8: #00a963;
$teal9: #007b48;
$cyan0: #e6fcff;
$cyan1: #cafaff;
$cyan2: #aaf8ff;
$cyan3: #84f4ff;
$cyan4: #51f0ff;
$cyan5: #00eaff;
$cyan6: #00d3e7;
$cyan7: #00bacb;
$cyan8: #009ba9;
$cyan9: #00707b;
$white: #ffffff;
