/* normal */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: asset_url('Inter-Regular.woff2') format('woff2'),
    asset_url('Inter-Regular.woff') format('woff');
}
/* bold */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: asset_url('Inter-Bold.woff2') format('woff2'),
    asset_url('Inter-Bold.woff') format('woff');
}
/* black */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: asset_url('Inter-Black.woff2') format('woff2'),
    asset_url('Inter-Black.woff') format('woff');
}

/* italics */
/* @font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 700;
  src: asset_url('Inter-BoldItalic.woff2') format('woff2'),
    asset_url('Inter-BoldItalic.woff') format('woff');
} */
/* @font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 400;
  src: asset_url('Inter-Italic.woff2') format('woff2'),
    asset_url('Inter-Italic.woff') format('woff');
} */