.nav {
  background-color: $gray0;
  border-bottom: 1px solid $gray1;
  width: 100%;
  z-index: 999;
  -webkit-user-select: none;
  -webkit-app-region: drag;

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .container {
    margin: 0.5rem auto;
  }

  .dropdown {
    line-height: 0;
  }
}

.nav__tab {
  display: inline-flex;
  align-items: center;
  color: $gray9;

  span {
    font-weight: 400;
    margin-left: 1rem;
  }

  img {
    width: 36px;
    height: 36px;
  }
}

@media (max-width: 32em) {
  .nav {
    padding: 0rem 0rem;
  }
  .nav__tab span {
    margin-left: 0.5rem;
  }
}
