@import 'colors';

/* normal */
@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 400;
  src: asset-url('Inter-UI-Regular.woff2') format('woff2'),
    asset-url('Inter-UI-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Inter UI';
  font-style: italic;
  font-weight: 400;
  src: asset-url('Inter-UI-Italic.woff2') format('woff2'),
    asset-url('Inter-UI-Italic.woff') format('woff');
}
/* bold */
@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 700;
  src: asset-url('Inter-UI-Bold.woff2') format('woff2'),
    asset-url('Inter-UI-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Inter UI';
  font-style: italic;
  font-weight: 700;
  src: asset-url('Inter-UI-BoldItalic.woff2') format('woff2'),
    asset-url('Inter-UI-BoldItalic.woff') format('woff');
}

* {
  box-sizing: border-box;
  font-weight: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
html,
body {
  min-height: 100%;
  min-width: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: 'Inter UI';
  line-height: 1.5;
  position: relative;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  color: $black;
  margin: 1rem;
}

a {
  color: currentColor;
}

strong {
  font-weight: bold;
}

textarea {
  resize: none;
}

input[type='text'],
input[type='url'],
input[type='email'],
input[type='file'],
input[type='number'],
input[type='password'],
select,
textarea {
  -webkit-appearance: none;
  display: block;
  max-width: 32rem;
  min-height: 36px;
  line-height: inherit;
  font-family: inherit;
  font-size: 16px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 100%;
  color: inherit;
  background-color: transparent;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(221, 225, 228);
  transition: box-shadow 0.125s ease-out;

  &:focus {
    box-shadow: rgb(173, 217, 245) 0 0 0 2px;
    outline: none;
    border-color: rgb(45, 158, 228);
  }
}

.field_with_errors {
  label {
    font-weight: bold;
    color: $red7;
  }
  input {
    border-color: $red7;
  }
}

pre {
  background-color: $gray0;
  padding: 12px;
  font-size: 12px;
}

a {
  color: $gray8;

  &:hover &:focus {
    color: $gray9;
  }
}

.field {
  margin-bottom: 0.75rem;
}
.actions {
  margin-top: 1.5rem;
}

#error_explanation {
  width: 512px;
  border: 2px solid $red7;
  padding: 1rem;
  margin-bottom: 24px;
  background-color: $red0;
  border-radius: 4px;

  h2 {
    color: $red7;
    border-bottom-color: $red6;
    margin-top: 0;
    font-size: 1.25rem;
  }

  ul {
    margin-bottom: 0;
  }
}

label {
  display: block;
}

$select: "url(<%= asset-url 'select.svg' %>)";
select {
  background: #{$select} right 0.75rem center / 0.5rem no-repeat $white;
}
// rails date(time) inputs
select[name$='i)]'] {
  width: 72px;
  display: inline-block;
}

.input--short {
  max-width: 16rem !important;
}

input[type='submit'],
.btn {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: $red5;
  color: $white;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-family: inherit;
  font-weight: bold;
  line-height: 1.125;
  -webkit-appearance: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.125) 0 2px 4px;
  margin: 0;
  text-decoration: none;
  transition: box-shadow 0.125s ease-out;
  border-radius: 9999px;
  border-width: 0px;
  border-style: solid;
}
.btn.btn--destroy {
  background-color: $gray0 !important;
  color: $red5 !important;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  line-height: 1.125;
}
h1 {
  font-size: 40px;
  padding-bottom: 8px;
  border-bottom: 1px solid #dde1e4;
  margin-bottom: 1rem;
}
h2 {
  font-size: 28px;
  padding-bottom: 4px;
  border-bottom: 1px solid #dde1e4;
  margin-bottom: 0.5rem;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}

.no-margin {
  margin: 0;
}

.a-lil-bottom-margin {
  margin: 0 0 1rem;
}

$__palette: (
  primary: $base,
  accent: $fuschia5,
  info: $blue5,
  success: $teal6,
  error: $red7,
  warning: $orange5,
  pending: $yellow5,
  black: $gray9,
  slate: $gray8,
  muted: $gray7,
  smoke: $gray2,
  snow: $gray0,
  white: $white
);

.flash {
  display: flex;
  align-items: center;
  color: $white;
  background-color: $base;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
  max-width: 32rem;
}

.flash__close {
  cursor: pointer;
  margin-left: 1rem;
  font-size: 0.625rem;
  float: right;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 999px;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
}

.flash__content {
  flex: 1 1 auto;
}

@each $name, $val in $__palette {
  .#{$name} {
    color: $val;
  }

  .bg-#{$name} {
    background-color: $val;
  }

  .b--#{$name} {
    border-color: $val;
  }
}
