<p>Hey <%= @resource.name %>!</p>

<p>Someone (hopefully you!) has requested a link to change your password on <%= link_to 'Dash','https://dash.zane.sh' %>. Click the link below to reset it.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn’t request a password change, please ignore this email — your password won’t change unless you set a new one using the link above.</p>

<p>
  Have a hack-tastic day,
  <strong>Dash Team</strong>
</p>