<% title "Editing hardware item #{@hardware.description} on #{@event.name}" %>
<% page_sm %>

<h1>Edit hardware item</h1>

<%= render 'form', url: event_hardware_path(@event, @hardware), hardware: @hardware %>
